<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Proyecto Polymer</title>
    <meta name="description" content="demopolymer description">

    <link rel="manifest" href="/manifest.json">

    <script src="/bower_components/webcomponentsjs/webcomponents-loader.js"></script>

    <!--<link rel="import" href="/bower_components/iron-pages/iron-pages.html">-->

    <link rel="import" href="/bower_components/polymer/polymer.html">

    <!--<link rel="import" href="/bower_components/app-route/app-location.html">-->

    <!--<link rel="import" href="/bower_components/app-route/app-route.html">-->

    <link rel="import" href="/css/estilo.css">

    <!--<link rel="import" href="/css/estilo2.css">-->

    <link rel="import" href="/src/demopolymer-app/demopolymer-app.html">

    <link rel="import" href="/src/mi-visor/mi-visor.html">

    <link rel="import" href="/src/mi-visor/mis-productos.html">

    <link rel="import" href="/src/login-app/login-app.html">

    <link rel="import" href="/src/login-app/reg-app.html">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body style="background-color: #f2faff; height: 100px; width: 100px;">
        <!-- <demopolymer-app></demopolymer-app> -->
        <!--<iron-pages selected="0">-->
        <login-app></login-app>
        <!--<reg-app></reg-app>-->
        <!--<mi-visor></mi-visor>-->
        <!--<login-app usuario="{{usuario}}"></login-app> -->
        <!--<mi-visor usuario="[[usuario]]"></mi-visor> -->
        <!--</iron-pages>-->
  </body>

</html>
