<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">-->
<link rel="import" href="../../css/estilo.css">

<dom-module id="login-app">

<template if="{{visible}}">
    <style>
     :host{
        /*display: block;*/
      }
    </style>

  <style>

/*  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
padding: 16px;
background:#ececec;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #f2faff;
padding-top: 50px;
-webkit-transition: 0.5s;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 30%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Close Button (x) */
.close-modal {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close-modal:hover,
.close-modal:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
   width: 100%;
}
}
  </style>

<head>
    <title>Log In</title>
    <meta charset="utf-8">
    <link type="text/css" href="./css/estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--<link rel="import" href="/src/login-app/reg-app.html">-->
</head>

<body>

    <div id="envoltura">
        <div id="contenedor2">
            <div id="cabecera" >
                <img src="./images/logo-bbva.jpg" style="max-width:50%;">
            </div>
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <label>Usuario:</label>
                        <input name="usuario" type="text" placeholder="Ingrese su Usuario" value="{{usuario::input}}" autofocus="" required="">

                    <label>Contraseña:</label>
                        <input name="contrasenia" type="password" placeholder="Ingrese su Contraseña" value="{{clave::input}}" required="">
                    <p></p>
                    <!--<p id="bot"><input name="submit" type="submit" id="boton" value="Registrar" class="boton"/></p>-->
                    <button on-click = "obtenerUsuario" class="btn btn-primary col-lg-4 col-xs-12" type="button" name="button">Ingresar</button>
                </form>
            </div><!--fin cuerpo-->
            <div id="pie">

              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <p style="cursor:s-resize"><a on-click="mostrarModal">Nuevo usuario</a></p>
                </div>
                <!--<div class="col-sm-0">
                  <input id="trigger" type="checkbox" style="width:15px;height:15px;">
                  <div class="box">
                    <reg-app></reg-app>
                  </div>
                </div>-->
              </div>
            </div><!-- fin pie -->
          </div><!-- fin contenedor -->
        <p></p>
        <p></p>
        <p><label>[[mensaje]]</label></p>
    </div><!--fin envoltura-->

<!--Modal para registro de usuario-->
<div id="id01" class="modal">
  <span on-click="ocultarModal" class="close-modal" title="Close Modal">&times;</span>
  <form class="modal-content">
    <div class="container">
      <h1>Registrarse</h1>
      <p>Por favor ingrese los datos solicitados para crear su cuenta.</p>
      <hr>
      <label for="usuario"><b>Usuario:</b></label>
      <input type="text" placeholder="Ingrese su Usuario" name="usuario" value="{{usuarioAlta::input}}" required>

      <label for="psw"><b>Contraseña:</b></label>
      <input type="password" placeholder="Ingrese su Contraseña" name="psw" value="{{claveAlta::input}}" required>

      <div class="clearfix">
        <button type="button" on-click="ocultarModal" class="btn btn-danger col-lg-4 col-xs-12">Cancelar</button>
        <button type="button" on-click ="anadirUsuario" class="btn btn-success col-lg-4 col-xs-12">Registrar</button>
      </div>
      <p></p>
      <p><label>[[mensajeAlta]]</label></p>
    </div>
  </form>
</div>

</body>

<template is="dom-if" if="{{domif}}">
    <mi-visor userid={{usuario}}></mi-visor>
</template>
</template>

<script>

/**
 * @customElement
 * @polymer
 */
 class LoginApp extends Polymer.Element {
   static get is() { return 'login-app'; }
   static get properties() {
     return {
       clientes: {
         type: Array,
         notify: true
       },
   usuario: {type: String, notify: true},
   clave: {type: String, notify: true},
   usuarioAlta: {type: String, notify: true},
   claveAlta: {type: String, notify: true},
   respuesta: {type: String, notify: true},
   domif: {type: Boolean, value: false},
   visible: {type: Boolean, value: true}
     };
   }

   obtenerUsuario(){
     var request = new XMLHttpRequest();
     var urlUsuarioBase = 'http://localhost:3001/usuario';
     //var error = request.status;
     request.open("POST", urlUsuarioBase, false);
     request.setRequestHeader("Accept","application/json");
     request.setRequestHeader("Content-Type","application/json");
     //var urlUsuarioBase = 'https://api.mlab.com/api/1/databases/glazo/collections/usuario?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt';
     //var urlDB = urlUsuarioBase + "?q={'usuario':'" + this.usuario + "', 'clave':'" + this.clave + "'}";
     var consultaCliente = {"usuario":this.usuario,"clave":this.clave};
     var body = JSON.stringify(consultaCliente);
     request.send(body);
     console.log("POST consulta usuario");
     this.respuesta = request.responseText;
     console.log(this.respuesta);
     var retorno = JSON.parse(request.responseText);
     this.mensaje = retorno.message;
     console.log(this.mensaje);
     if(this.mensaje=="OK") {
          this.mensaje = "";
          this.domif = true;
//          this.visible = false;
          this.$.envoltura.style.display = "none";
      }
   }

   anadirUsuario(){
   var request = new XMLHttpRequest();
   //var urlUsuarioBase = 'https://api.mlab.com/api/1/databases/glazo/collections/usuario?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt';
   //var urlDB = urlUsuarioBase + "&q={'usuario':'" + this.usuario + "', 'clave':'" + this.clave + "'}";
   var urlUsuarioBase = 'http://localhost:3001/registrar';
   request.open("POST", urlUsuarioBase, false);
   request.setRequestHeader("Accept","application/json");
   request.setRequestHeader("Content-Type","application/json");
   var nuevoUsuario = {"usuario":this.usuarioAlta, "clave":this.claveAlta, "estado":"a"};
   var body = JSON.stringify(nuevoUsuario); //convierte a objeto JSON
   request.send(body);
   console.log("POST alta usuario");
   this.respuesta = request.responseText;
   console.log(this.respuesta);
   var retorno = JSON.parse(request.responseText);
   this.mensajeAlta = retorno.message;
   console.log(this.mensajeAlta);
   }

   mostrarModal() {
   //  if (event.target == modal) {
       this.$.id01.style.display = "block";
   //  }
   }

   ocultarModal() {
   //  if (event.target == modal) {
       this.$.id01.style.display = "none";
   //  }
   }

}
    window.customElements.define(LoginApp.is, LoginApp);
  </script>

</dom-module>
