<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../css/estilo.css">

<dom-module id="login-app">

    <!--<template hidden$="{{visible}}">-->
<template if="{{visible}}">
<!--    <style>
      :host{
        display: block;
      }
    </style>
-->


<head>
    <title>Log In</title>
    <meta charset="utf-8">
    <link type="text/css" href="./css/estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--<link rel="import" href="/src/login-app/reg-app.html">-->
</head>

<body>

    <div id="envoltura">
        <div id="contenedor2">
            <div id="cabecera" >
                <img src="./images/logo-bbva.jpg" style="max-width:50%;">
            </div>
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <!--A saber, el atributo for funciona como el id.-->
                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                    <p><label>Usuario:</label></p>
                        <input name="usuario" type="text" placeholder="Ingrese su Usuario" value="{{usuario::input}}" autofocus="" required=""></p>

                    <p><label>Contraseña:</label></p>
                        <input name="contrasenia" type="password" placeholder="Ingrese su Contraseña" value="{{clave::input}}" required=""></p>
                    <p></p>
                    <!--<p id="bot"><input name="submit" type="submit" id="boton" value="Registrar" class="boton"/></p>-->
                    <button on-click = "obtenerUsuario" class="btn btn-primary col-lg-4 col-xs-12" type="button" name="button">Ingresar</button>
                </form>
            </div><!--fin cuerpo-->
            <div id="pie">

              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <!--<p style="cursor:s-resize" on-click="mostrarNuevoUsuario">Nuevo usuario</p>-->
                  <p>Nuevo usuario</p>
                </div>
                <div class="col-sm-0">
                  <input id="trigger" type="checkbox" style="width:15px;height:15px;">
                  <div class="box">
                    <reg-app></reg-app>
                  </div>
                </div>
              </div>
            </div><!-- fin pie -->
          </div><!-- fin contenedor -->
        <p></p>
        <p></p>
        <p><label>[[mensaje]]</label></p>
    </div><!--fin envoltura-->

</body>
<template is="dom-if" if="{{domif}}">
    <mi-visor userid={{usuario}}></mi-visor>
</template>
</template>

<script>

/**
 * @customElement
 * @polymer
 */
 class LoginApp extends Polymer.Element {
   static get is() { return 'login-app'; }
   static get properties() {
     return {
       clientes: {
         type: Array,
         notify: true
       },
   usuario: {type: String, notify: true},
   clave: {type: String, notify: true},
   usuarioAlta: {type: String, notify: true},
   claveAlta: {type: String, notify: true},
   respuesta: {type: String, notify: true},
   domif: {type: Boolean, value: false},
   visible: {type: Boolean, value: true}
     };
   }

   obtenerUsuario(){
     var request = new XMLHttpRequest();
     var urlUsuarioBase = 'http://localhost:3001/usuario';
     //var error = request.status;
     request.open("POST", urlUsuarioBase, false);
     request.setRequestHeader("Accept","application/json");
     request.setRequestHeader("Content-Type","application/json");
     //var urlUsuarioBase = 'https://api.mlab.com/api/1/databases/glazo/collections/usuario?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt';
     //var urlDB = urlUsuarioBase + "?q={'usuario':'" + this.usuario + "', 'clave':'" + this.clave + "'}";
     var consultaCliente = {"usuario":this.usuario,"clave":this.clave};
     var body = JSON.stringify(consultaCliente);
     request.send(body);
     console.log("POST consulta usuario");
     this.respuesta = request.responseText;
     console.log(this.respuesta);
     var retorno = JSON.parse(request.responseText);
     this.mensaje = retorno.message;
     console.log(this.mensaje);
     if(this.mensaje=="OK") {
          this.mensaje = "";
          this.domif = true;
          this.visible = false;
//          this.$.LoginApp.hidden = true;
//          this.hidden = true;
      }
     //this.obtenerMovimientos();
   }

   obtenerMovimientos(){
     var request = new XMLHttpRequest();
     var urlMovimientos = 'http://localhost:3001/movimientos';
     request.open("POST", urlMovimientos, false);
     request.setRequestHeader("Accept","application/json");
     request.setRequestHeader("Content-Type","application/json");
     var consultaMovimientos = {"nombre":this.usuario};
     var body = JSON.stringify(consultaMovimientos);
     request.send(body);
     console.log("POST consulta movimientos");
     this.respuesta = request.responseText;
     console.log(this.respuesta);
   }

   mostrarNuevoUsuario(){
       var elemento = document.getElementById('seccion1');
       if (Seccion.style.display=="none"){Seccion.style.display=""}
       else{Seccion.style.display="none"}
   }

}
    window.customElements.define(LoginApp.is, LoginApp);
  </script>

</dom-module>
