<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../css/estilo.css">

<dom-module id="reg-app">
  <template>
  <style>
    :host {
      display: block;
    }
    body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
  </style>
<body>
  <h2>Modal Signup Form</h2>

<button on-click="mostrarModal" style="width:auto;">Sign Up</button>

<div id="id01" class="modal">
  <span on-click="ocultarModal" class="close" title="Close Modal">&times;</span>
  <!--<form class="modal-content" action="/action_page.php">-->
  <form class="modal-content">
    <div class="container">
      <h1>Registrarse</h1>
      <p>Por favor ingrese los datos solicitados para crear su cuenta.</p>
      <hr>
      <label for="usuario"><b>Usuario</b></label>
      <input type="text" placeholder="Ingrese su usuario" name="usuario" required>

      <label for="psw"><b>Clave</b></label>
      <input type="password" placeholder="Ingrese su clave" name="psw" required>

      <label for="psw-repeat"><b>Confirmar clave</b></label>
      <input type="password" placeholder="Confirme su clave" name="psw-repeat" required>

      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Recordarme
      </label>

      <p>Política de <a href="#" style="color:dodgerblue">términos y condiciones</a>.</p>

      <div class="clearfix">
        <button type="button" on-click="ocultarModal" class="cancelbtn">Cancelar</button>
        <button type="submit" class="signupbtn">Registrar</button>
      </div>
    </div>
  </form>
</div>
</body>
   </template>
</dom-module>
<script>

class RegApp extends Polymer.Element {
  static get is() { return 'reg-app'; }
  static get properties() {
    return {
      prop1: {
        type: String,
        value: ''
      }
    };
  }

  // When the user clicks anywhere outside of the modal, close it
  mostrarModal() {
  //  if (event.target == modal) {
      this.$.id01.style.display = "block";
  //  }
  }

  ocultarModal() {
  //  if (event.target == modal) {
      this.$.id01.style.display = "none";
  //  }
  }

}

window.customElements.define(RegApp.is, RegApp);
</script>
