<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../css/estilo.css">

<dom-module id="reg-app">
<template>
    <style>
      :host{
        display: block;
      }
    </style>

<head>
    <title>Registro</title>
    <meta charset="utf-8">
    <link type="text/css" href="./css/estilo.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>

    <div id="envoltura">
        <div id="contenedor2">
            <div id="cabecera" >
                <img src="./images/logo-bbva.jpg" style="max-width:50%;">
            </div>
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <!--A saber, el atributo for funciona como el id.-->
                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                    <p><label>Usuario:</label></p>
                        <input name="usuario" type="text" placeholder="Ingrese su Usuario" value="{{usuarioAlta::input}}" autofocus="" required=""></p>

                    <p><label>Contraseña:</label></p>
                        <input name="contrasenia" type="password" placeholder="Ingrese su Contraseña" value="{{claveAlta::input}}" required=""></p>
                    <p></p>
                    <!--<p id="bot"><input name="submit" type="submit" id="boton" value="Registrar" class="boton"/></p>-->
                    <button on-click = "anadirUsuario" class="btn btn-primary col-lg-4 col-xs-12" type="button" name="button">Grabar</button>
                </form>
            </div><!--fin cuerpo-->
            <div id="pie">
              <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                  <p>Volver a Log in</p>
                </div>
                <div class="col-sm-0">
                  <!--<label for="trigger" style="display:none">Toggle box</label>-->
                  <input id="trigger" type="checkbox" style="width:15px;height:15px;">
                  <div class="box">
                    <login-app></login-app>
                  </div>
                </div>
              </div>
            </div><!-- fin pie -->
              <!--<a href="./src/login-app/login-app.html"></a>-->
        </div><!-- fin contenedor -->
        <p></p>
        <p></p>
        <p><label >[[mensaje]]</label></p>
    </div><!--fin envoltura-->

</body>
</template>

<script>

/**
 * @customElement
 * @polymer
 */
 class RegApp extends Polymer.Element {
   static get is() { return 'reg-app'; }
   static get properties() {
     return {
       clientes: {
         type: Array,
         notify: true
       },
   usuario: {type: String, notify: true},
   clave: {type: String, notify: true},
   usuarioAlta: {type: String, notify: true},
   claveAlta: {type: String, notify: true},
   respuesta: {type: String, notify: true}
     };
   }

   anadirUsuario(){
   var request = new XMLHttpRequest();
   //var urlUsuarioBase = 'https://api.mlab.com/api/1/databases/glazo/collections/usuario?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt';
   //var urlDB = urlUsuarioBase + "&q={'usuario':'" + this.usuario + "', 'clave':'" + this.clave + "'}";
   var urlUsuarioBase = 'http://localhost:3001/registrar';
   request.open("POST", urlUsuarioBase, false);
   request.setRequestHeader("Accept","application/json");
   request.setRequestHeader("Content-Type","application/json");
   var nuevoUsuario = {"usuario":this.usuarioAlta, "clave":this.claveAlta, "estado":"a"};
   var body = JSON.stringify(nuevoUsuario); //convierte a objeto JSON
   request.send(body);
   console.log("POST alta usuario");
   this.respuesta = request.responseText;
   console.log(this.respuesta);
   var retorno = JSON.parse(request.responseText);
   this.mensaje = retorno.message;
   }

}
    window.customElements.define(RegApp.is, RegApp);
  </script>
</dom-module>
