<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!--<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">-->
<link rel="import" href="../../css/estilo.css">

<dom-module id="mi-visor">
  <template>
    <style>
      :host{
        display: block;
      }
    </style>
    <head>
        <title>Menu</title>
        <meta charset="utf-8">
        <link type="text/css" href="./css/estilo.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
      <!--menu-->
        <div id="envoltura_menu">
            <div id="contenedor_menu">
                <div id="cabecera_menu">
                    <!--<img src="./images/logo-bbva.jpg" style="max-width:50%;">-->
                    <h3>Menú<h3>
                </div>
                <div id="cuerpo_menu">
                    <form id="form-menu" action="" method="post" autocomplete="off">
                        <button on-click="obtenerMovimientos" class="btn btn-primary col-lg-8 col-xs-12" type="button" name="button">Movimientos</button>
                        <p></p>
                        <button on-click="obtenerCuentas" class="btn btn-primary col-lg-8 col-xs-12" type="button" name="button">Cuentas</button>
                    </form>
                </div><!--fin cuerpo-->
                <div id="pie_menu"><p style="cursor:s-resize"><a on-click="cerrarVentana">Cerrar sesión</a></p></div>
            </div><!-- fin contenedor -->
        </div><!--fin envoltura-->

      <!--panel-->
        <div id="envoltura_panel">
            <div id="contenedor_panel">
                <div id="cabecera_panel">
                    <img id="logo1" src="./images/logo-bbva-stretch.png" style="max-width:50%;">
                </div>
                <!--<div class="my-custom-scrollbar my-custom-scrollbar-primary">-->
                <div id="cuerpo_panel">
                    <form id="form-panel" action="" method="post" autocomplete="off">
                      <!--<p><strong><font size=5>Bienvenido ${req.session.usuario}!</font></strong></p>-->
                      <p><strong><font size=5>Hola {{userid}}!</font></strong></p>
                      <div id="divPromocion" class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="display:block"></div>

                      <!--tabla de movimientos-->
                      <div id="displaytableMov" style="display:none">
                        <table class="w3-table w3-bordered col-lg-12 col-xs-12">
                          <thead>
                            <tr class="w3-blue">
                              <th style="text-align:center">Cuenta</th>
                              <th style="text-align:right">Tipo de operación</th>
                              <th style="text-align:right">Importe</th>
                              <th style="text-align:right">Fecha de operación</th>
                            </tr>
                          </thead>
                          <tbody>
                            <template is="dom-repeat" items="[[output]]">
                                <tr class="w3-light-blue">
                                    <td style="text-align:center">[[item.num_cta]]</td>
                                </tr>
                                <template is="dom-repeat" items="[[item.listado]]">
                                  <tr>
                                    <td></td>
                                    <td style="text-align:right">[[item.tipo]]</td>
                                    <td style="text-align:right">[[item.importe]]</td>
                                    <td style="text-align:right">[[item.fecha]]</td>
                                  </tr>
                                </template>
                            </template>
                          </tbody>
                        </table>
                      </div>

                      <!--tabla de cuentas-->
                      <div id="displaytableCta" style="display:none">
                        <table class="w3-table w3-bordered col-lg-12 col-xs-12">
                          <thead>
                            <tr class="w3-blue">
                              <th style="text-align:center">Cuenta</th>
                              <th style="text-align:right">Moneda</th>
                              <th style="text-align:right">Saldo disponible</th>
                              <th style="text-align:right">Línea</th>
                            </tr>
                          </thead>
                          <tbody>
                            <template is="dom-repeat" items="[[output]]">
                              <tr>
                                  <td style="text-align:center">[[item.num_cta]]</td>
                                  <td style="text-align:right">[[item.moneda]]</td>
                                  <td style="text-align:right">[[item.saldo_disp]]</td>
                                  <td style="text-align:right">[[item.limite]]</td>
                              </tr>
                            </template>
                          </tbody>
                        </table>
                      </div>

                    </form>
                </div><!--fin cuerpo-->
              <!--</div>-->
                <div id="pie_panel"></div>
            </div><!-- fin contenedor -->
        </div><!--fin envoltura-->
      </body>

     <template is="dom-if" if="{{domif}}">
         <login-app></login-app>
     </template>

  </template>

  <script>


  /**
   * @customElement
   * @polymer
   */
    class MiVisor extends Polymer.Element {
    static get is() { return 'mi-visor'; }
    static get properties() {
      return {
        output: {
        type: Array
      },
        userid: {type: String, notify: true},
        domif: {type: Boolean, value: false},
        prop1: {
          type: String//,
          //value: 'mi-visor'
        },
        prop2: {
          type: Number,
          value: 999
        },
        prop3: {
          type: String,
          value: "ingrese su usuario"
        }
      };
    }

    incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(prop1);
        console.log(prop2);
    }

    obtenerMovimientos(){
      var request = new XMLHttpRequest();
      var urlMovimientos = 'http://localhost:3001/movimientos';
      request.open("POST", urlMovimientos, false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var consultaMovimientos = {"nombre":this.userid};
      var body = JSON.stringify(consultaMovimientos);
      request.send(body);
      console.log("POST consulta movimientos");
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.llenarVector(this.respuesta);
      this.$.divPromocion.style.display = "none";
      this.$.displaytableCta.style.display = "none";
      this.$.displaytableMov.style.display = "block";
    }

    obtenerCuentas(){
      var request = new XMLHttpRequest();
      var urlProductos = 'http://localhost:3001/cuentas';
      request.open("POST", urlProductos, false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var consultaProductos = {"usuario":this.userid};
      var body = JSON.stringify(consultaProductos);
      request.send(body);
      console.log("POST consulta productos");
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.llenarVector(this.respuesta);
      this.$.divPromocion.style.display = "none";
      this.$.displaytableMov.style.display = "none";
      this.$.displaytableCta.style.display = "block";
    }

    llenarVector(vector){
      this.output = JSON.parse(vector);
    }

    cerrarVentana() {
        this.$.envoltura_menu.style.display = "none";
        this.$.envoltura_panel.style.display = "none";
        this.domif = true;
    }

}

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
