<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../css/estilo.css">

<dom-module id="mis-productos">
  <template>
    <style>
      :host{
        display: block;
      }
    </style>
        <h1>Cuentas</h1>
        <br></br>
        <div class="container">
          <div class="row">
            <button on-click = "obtenerCuentas" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Ver cuentas</button>
            <table class="table table-striped col-lg-12 col-xs-12">
              <thead>
              <template is="dom-repeat" items={{productos}}>
                <th>Número de Cuenta</th>
                <th>Moneda</th>
                <th>Saldo</th>
                <th>Línea de Crédito</th>
              </template>
              </thead>
              <tbody>
                <tr>
                  <td>[[item.num_cta]]</td>
                  <td>[[item.moneda]]</td>
                  <td>[[item.saldo_disp]]</td>
                  <td>[[item.limite]]</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </template>

  <script>

      /**
       * @customElement
       * @polymer
       */
        class Productos extends Polymer.Element {
        static get is() { return 'mis-productos'; }
        static get properties() {
          return {
            cliente: {type: String, notify: true},
            prop1: {
              type: String
            },
            prop2: {
              type: Number,
              value: 999
            },
            prop3: {
              type: String,
              value: "ingrese su usuario"
            }
          };
        }


        obtenerCuentas(){
          var request = new XMLHttpRequest();
          var urlProductos = 'http://localhost:3001/cuentas';
          request.open("POST", urlProductos, false);
          request.setRequestHeader("Accept","application/json");
          request.setRequestHeader("Content-Type","application/json");
          var consultaProductos = {"usuario":"Paco"};
          var body = JSON.stringify(consultaProductos);
          request.send(body);
          console.log("POST consulta productos");
          this.respuesta = request.responseText;
          console.log(this.respuesta);
        }
    }

        window.customElements.define(Productos.is, Productos);
  </script>
</dom-module>
